/*------------------------------*\
 | ejq.css for blog.eejjqq.com  |
\*------------------------------*/
        @import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
        html,body{
          padding: 0;
          margin: 0;
          display:block;
          font-family: 'Helvetica Neue', 'Arial' , 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
        }
        .blog{
          margin:0 auto;
          padding: 45px;
          width: 100%;
        }
        
        a{
          color:#08c;
          transition: color 0.5s;
          -moz-transition: color 0.5s;
          -webkit-transition: color 0.5s;
          -o-transition: color 0.5s;
        }
        a:hover{
          color:#069;
          transition: color 0.5s;
          -moz-transition: color 0.5s;
          -webkit-transition: color 0.5s;
          -o-transition: color 0.5s;
        }
        
	.content{
	  width: max(1140px,100%);margin:0 auto;
	}
	.content @media only screen and (max-width: 1100px){
	  width: max(1140px,100%);margin:0 auto;
	}
	.content @media only screen and (max-width: 760px){
	  width: max(1140px,100%);margin:0 auto;
	}
	.content @media only screen and (max-width: 700px){
	  padding: 0 10px;margin:0 auto;
	}
        footer{
          text-align:center;
        }
	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	  font-weight: normal;
	  line-height: 0;
	  color: #999999;
	  font-size: 60%;
	}
        code{
          font-size: 14px;
          font-family:'Ubuntu Mono','Courier New',monospace ;
        }
        .MathJax{
          color: #000;
        }

	.featured {
	  color: #FFF;
	  padding: 15px;
	  font-weight: lighter;
	}

	.featured h5 {
	  margin-bottom: 0;
	  color: #FFF;
	}
        .navigation-bar{
          background:rgba(30,144,255,0.8);
          position:fixed;
          width:100%;
          z-index:23333;
        }
        .navigation-bar ul li a:not(.button)
        {
          background:rgba(30,144,255,0.0);
          text-shadow: 0px 0px 0px #FFFFFF;
	  transition: background 0.5s , text-shadow 0.5s;
	  -moz-transition: background 0.5s , text-shadow 0.5s;
	  -webkit-transition: background 0.5s , text-shadow 0.5s;
	  -o-transition: background 0.5s , text-shadow 0.5s;
        }
        .navigation-bar ul li a:hover:not(.button) ,
        .navigation-bar .brand-section .active
        {
          color:#FFF;
          background:rgba(30,144,255,0.7);
          text-shadow: 0px 0px 5px #FFFFFF;
	  transition: background 0.5s , text-shadow 0.5s;
	  -moz-transition: background 0.5s , text-shadow 0.5s;
	  -webkit-transition: background 0.5s , text-shadow 0.5s;
	  -o-transition: background 0.5s , text-shadow 0.5s;
        }
        .tag_box li a span{
                vertical-align:super;
        }
        .tag_box{
		list-style: none;
        }
        .tag_box a{
                color:#ffffff;
                padding:4px;
		transition: background 0.5s, text-shadow 0.5s;
		-moz-transition: background 0.5s, text-shadow 0.5s;
		-webkit-transition: background 0.5s, text-shadow 0.5s;
		-o-transition: background 0.5s, text-shadow 0.5s;
                background:rgba(30,144,255,0.6);
        }
	 .tag_box a:hover{
	    text-shadow: 0px 0px 5px #FFFFFF;
		background:rgba(30,144,255,1.0);
         }
        .tag_box li{
                display:inline;
                margin:4px;
                word-break:keep-all;
                white-space:nowrap;
         }
    .headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .5s ease-in-out;}  
    .headroom--unpinned {top: -100px;}  
    .headroom--pinned {top: 0;}  

